body{
    margin: 0;
    background-color: lightcyan;
}

main{
    margin-top: 30px;
    padding: 20px;
}

.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: lightblue;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menu a{
    font-size: 24px;
    text-decoration: none;
    display: block;
    float: left;
    width: 150px;
    padding: 14px 20px;
    color: white;
    background-color: lightblue;
    text-align: center;
}

.menu a:hover{
    color:black;
    background-color: white;
}

.container{     
    height: 100%;
    width: 100%;
    /* float: left;
    justify-content: center;
    display: flex; */
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 1250px;
    height: 1000px;
    background-color: white;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
    margin-top: 6px;
}
